.details {
  .evaluate {
    .assessments {
      .rating {
        .api-24 {
          display: flex;
          justify-content: space-between;
          width: 60%;
          .rating-index {
            &::before {
              content: "";
              width: 10px;
              height: 10px;
              background-color: black;
            }
          }
        }
      }
    }
  }
  .right {
    .datphong {
      transition: all 0.5s ease-in-out;
      &.scroll {
        padding: 10px 0;
      }
    }
    .ant-picker.ant-picker-range {
      border: 1px solid black;
      border-radius: 6px;
      .ant-picker-range-separator {
        .ant-picker-separator {
          color: black;
        }
      }
      .ant-picker-suffix {
        color: black;
      }
      .ant-picker-input > input {
        padding: 12px;
        font-size: 15px;
      }
    }
  }
}
.css-m9glnp-MuiPaper-root-MuiDialog-paper {
  left: 0%;
}
